*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.create-project {
  display: flex;
  width: 600px;
  height: 30px;
  margin-bottom: 30px;
}

.create-project input{
  width: 500px;
  border-radius: 10px;
  background-color: black;
  border: 1px solid #fff;
}

.create-project button {
  width: 100px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.title-project {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-bottom: 20px;
}

.create-task {
  display: flex;
  width: 600px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.create-task input {
  width: 590px;
}


.lists-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.list {
  width: 200px;
  height: 100px;
}

.list li {
  height: 20px;
  width: 200px;
  border: 1px solid #fff;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

input:focus {
  outline: none;
}

.hide {
  display: none;
}