*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lists-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-project {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.create-project

.list {
  width: 150px;
  height: 100px;
}

.list li {
  height: 20px;
  border: 1px solid black;
}